.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/tsconfig.json
src/**
!src/schemas/**
types/**
docs/**
.github/**
node_modules
media