VITE_SERVER=
VITE_DB_USER=
VITE_DB_PASS=
VITE_DB_PORT=22
VITE_TEMP_LIB=
#VITE_IASP=
#VITE_CONNECTION_TIMEOUT=25000
# SSH Key authentication (optional - leave VITE_DB_PASS empty if using key)
#VITE_PRIVATE_KEY_PATH=~/.ssh/id_rsa
#VITE_PASSPHRASE=
# SSH Agent authentication (optional - leave VITE_DB_PASS and VITE_PRIVATE_KEY_PATH empty if using agent)
#VITE_USE_SSH_AGENT=true