VITE_SERVER=
VITE_DB_USER=
VITE_DB_PASS=
VITE_DB_PORT=22
VITE_TEMP_LIB=
#VITE_CONNECTION_TIMEOUT=25000
# SSH Key authentication (optional - leave VITE_DB_PASS empty if using key)
#VITE_PRIVATE_KEY_PATH=~/.ssh/id_rsa
#VITE_PASSPHRASE=